@font-face {
  font-family: "5TH AVENUE";
  src: url("../assets/fonts/5th-avenue.woff2") format("woff2"),
       url("../assets/fonts/5th-avenue.woff") format("woff");
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-white text-[#003745];
  }
}

@layer components {
  .pop-shadow {
    box-shadow: 10px 10px 0 0 rgba(0, 55, 69, 0.35);
  }
}

